Repository DnD-developer/Advanced-Frontend-Project: changes, and which lint-staged commands are due for each by the changed paths.
All: lint:ts:fix, lint:style:fix, prettier --write

DND-443 Upgrade github workflows
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/testUi.yml
  .github/workflows/testUnit.yml
  .gitignore
  package.json
Due: prettier --write

DND-472 Install Cypress and fixed ProfileCard.tsx and fixed lint-staged
  .lintstagedrc
  backend/db.json
  package.json
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/1_FSD_app/styles/vars/_globals.var.scss
  src/5_FSD_entities/Profile/components/ProfileCard/ProfileCard.module.scss
  src/5_FSD_entities/Profile/components/ProfileCard/ProfileCard.tsx
  src/6_FSD_shared/ui/AppImage/components/AppImage/AppImage.tsx
  yarn.lock
Due: lint:ts:fix, lint:style:fix, prettier --write

DND-472 Fixed environment
  .eslintrc.json
  config/webpack/webpackLoaders/sassLoader.webpack.ts
  package.json
  src/6_FSD_shared/lib/hooks/useDebounce.hook.ts
  src/6_FSD_shared/lib/mocks/AsyncThunk.mock.ts
  src/6_FSD_shared/types/global.types.ts
  src/6_FSD_shared/ui/Tabs/components/Tabs/Tabs.stories.tsx
  yarn.lock
Due: lint:ts:fix, prettier --write

DND-443 Fixed prettier for stylelint
  .stylelintrc.js
  package.json
  yarn.lock
Due: prettier --write

Added https for backend, rename base_Url - apiUrl, added deploy.sh
  .eslintrc.json
  backend/cert.pem
  backend/index.js
  backend/key.pem
  config/jest/jest.config.ts
  config/storybook/webpackStorybook.config.ts
  config/webpack/plugins.webpack.ts
  config/webpack/types/config.ts
  config/webpack/webpackHelpers/getApi.webpack.ts
  deploy/deploy.sh
  src/1_FSD_app/types/global.d.ts
  src/2_FSD_pages/ArticleDetailsPage/components/ArticleDetailsPage/storybook/ArticleDetailsPage.stories.tsx
  src/2_FSD_pages/ProfilePage/components/ProfilePage/ProfilePage.stories.tsx
  src/3_FSD_widgets/Header/components/Header/Header.stories.tsx
  src/4_FSD_features/ArticleRating/components/ArticleRating/ArticleRating.stories.tsx
  src/4_FSD_features/ArticlesRecommendation/components/ArticlesRecommendation/ArticlesRecommendation.stories.ts
  src/4_FSD_features/EditableProfileCard/components/EditableProfileCard/EditableProfileCard.stories.tsx
  src/4_FSD_features/NotifiacationButton/components/NotificationButton/NotificationButton.stories.tsx
  src/5_FSD_entities/Notification/components/NotificationList/NotificationList.stories.tsx
  src/6_FSD_shared/api/instances/instanceAxios.api.ts
  src/6_FSD_shared/api/instances/rtkBase.api.ts
  webpack.config.ts
Due: lint:ts:fix, prettier --write

DND-492 add args for buildSelector.helper.ts and buildCreateSelector.helper.ts and integrate this in AddArticleCommentForm.tsx and Page.tsx
  backend/db.json
  src/3_FSD_widgets/Page/components/Page.tsx
  src/4_FSD_features/AddArticleComment/components/AddArticleCommentForm/AddArticleCommentForm.tsx
  src/4_FSD_features/AddArticleComment/store/selectors/getAddArticleComment/getAddArticleComment.selector.ts
  src/4_FSD_features/AddArticleComment/store/selectors/getAddArticleComment/getAddArticleCommentSelector.test.ts
  src/4_FSD_features/AddArticleComment/store/selectors/getAddArticleCommentError/getAddArticleCommentError.selector.tsx
  src/4_FSD_features/AddArticleComment/store/selectors/getAddArticleCommentError/getAddArticleCommentErrorSelector.test.ts
  src/4_FSD_features/AddArticleComment/store/selectors/getAddArticleCommentIsLoading/getAddArticleCommentIsLoading.selector.tsx
  src/4_FSD_features/AddArticleComment/store/selectors/getAddArticleCommentIsLoading/getAddArticleCommentIsLoadingSelector.test.ts
  src/4_FSD_features/AddArticleComment/store/selectors/getAddArticleCommentText/getAddArticleCommentTextSelector.test.ts
  src/4_FSD_features/AddArticleComment/store/selectors/getAddArticleCommentText/getAddArticleCommentTextSelector.tsx
  src/4_FSD_features/AddArticleComment/store/slices/addArticleComment.slice.ts
  src/4_FSD_features/AddArticleComment/store/slices/addArticleCommentSlice.test.ts
  src/4_FSD_features/ScrollSave/store/selectors/getScrollPositionByPath/getScrollPositionByPath.selector.tsx
  src/6_FSD_shared/lib/helpers/buildCreateSelector/buildCreateSelector.helper.ts
  src/6_FSD_shared/lib/helpers/buildSelector/buildSelector.helper.ts
Due: lint:ts:fix, prettier --write

DND-494 Add concept feature flags
  .eslintrc.json
  backend/db.json
  backend/index.js
  src/2_FSD_pages/ArticleDetailsPage/components/ArticleDetailsPage/ArticleDetails.page.tsx
  src/2_FSD_pages/ArticlesPage/components/ArticlesPage/storybook/ArticlesPage.stories.tsx
  src/3_FSD_widgets/ArticlesList/components/ArticlesList/ArticlesList.stories.tsx
  src/4_FSD_features/AuthByUserName/store/slices/loginFormSlice.test.ts
  src/4_FSD_features/AuthByUserName/store/thunks/loginByUserName/loginByUserNameThunk.test.ts
  src/5_FSD_entities/Article/lib/mocks/articleData.mock.ts
  src/5_FSD_entities/Article/lib/mocks/articlesListData.mock.ts
  src/5_FSD_entities/Comment/components/CommentCard/CommentCard.stories.tsx
  src/5_FSD_entities/User/lib/mocks/userData.mock.ts
  src/5_FSD_entities/User/store/selectors/getUser/getUserSelector.test.ts
  src/5_FSD_entities/User/store/selectors/getUserAuthData/getUserAuthDataSelector.test.ts
  src/5_FSD_entities/User/store/slices/user.slice.ts
  src/5_FSD_entities/User/types/userData.type.ts
  src/6_FSD_shared/config/featureFlags/config/featureFlags.config.ts
  src/6_FSD_shared/config/featureFlags/index.ts
  src/6_FSD_shared/config/featureFlags/types/featureFlags.type.ts
Due: lint:ts:fix, prettier --write

DND-495 Add helper fo feature Flags and fixed some stories
  src/2_FSD_pages/ArticleDetailsPage/components/ArticleDetailsPage/ArticleDetails.page.tsx
  src/2_FSD_pages/ProfilePage/components/ProfilePage/ProfilePage.stories.tsx
  src/4_FSD_features/EditableProfileCard/components/EditableProfileCard/EditableProfileCard.stories.tsx
  src/5_FSD_entities/User/store/slices/user.slice.ts
  src/6_FSD_shared/config/featureFlags/helpers/toggleFeatureFlags/toggleFeatureFlags.ts
  src/6_FSD_shared/config/featureFlags/index.ts
  src/6_FSD_shared/lib/decorators/storybook/Store.decorator.tsx
Due: lint:ts:fix, prettier --write

DND-497 Change init UserData and fixed Link in Dropdown.tsx
  backend/db.json
  src/1_FSD_app/App.tsx
  src/5_FSD_entities/User/api/user.rtkq.ts
  src/5_FSD_entities/User/lib/hooks/useAuth.hook.ts
  src/5_FSD_entities/User/store/slices/user.slice.ts
  src/5_FSD_entities/User/store/storeTypes/userState.map.ts
  src/5_FSD_entities/User/store/thunks/fetchUserData/fetchUserData.thunk.ts
  src/6_FSD_shared/api/constants/requestPath.constant.ts
  src/6_FSD_shared/ui/AppLink/components/AppLink/AppLink.module.scss
  src/6_FSD_shared/ui/AppLink/components/AppLink/AppLink.tsx
  src/6_FSD_shared/ui/AppLink/constants/AppLink.constant.ts
  src/6_FSD_shared/ui/Dropdown/components/Dropdown/Dropdown.tsx
Due: lint:ts:fix, lint:style:fix, prettier --write

DND-496 Save theme in userData
  backend/db.json
  backend/index.js
  src/1_FSD_app/App.tsx
  src/5_FSD_entities/User/api/user.rtkq.ts
  src/5_FSD_entities/User/index.ts
  src/5_FSD_entities/User/lib/hooks/useAuth.hook.ts
  src/5_FSD_entities/User/lib/mocks/userData.mock.ts
  src/5_FSD_entities/User/store/selectors/getUser/getUser.selector.tsx
  src/5_FSD_entities/User/store/selectors/getUserSettings/getUserSettings.selector.ts
  src/5_FSD_entities/User/store/selectors/getUserSettings/getUserSettingsSelector.test.ts
  src/5_FSD_entities/User/store/slices/user.slice.ts
  src/5_FSD_entities/User/store/thunks/fetchUserData/fetchUserData.thunk.ts
  src/5_FSD_entities/User/store/thunks/saveUserSettings/saveUserSettings.thunk.ts
  src/5_FSD_entities/User/types/userData.type.ts
  src/5_FSD_entities/User/types/userSettingsData.type.ts
  src/6_FSD_shared/providers/ThemeProvider/components/ThemeProvider.tsx
  src/6_FSD_shared/providers/ThemeProvider/context/ThemeProvider.context.tsx
  src/6_FSD_shared/providers/ThemeProvider/context/ThemesProviderContext.tsx
  src/6_FSD_shared/providers/ThemeProvider/index.ts
  src/6_FSD_shared/providers/ThemeProvider/lib/hooks/useTheme.ts
  src/6_FSD_shared/ui/AppLink/components/AppLink/AppLink.tsx
  src/Root.tsx
Due: lint:ts:fix, prettier --write

DND-490 Add ToggleComponentFeatureComponents.tsx
  .eslintrc.json
  package.json
  src/2_FSD_pages/ArticleDetailsPage/components/ArticleDetailsPage/ArticleDetails.page.tsx
  src/6_FSD_shared/config/featureFlags/helpers/ToggleComponentFeatureFlags/ToggleComponentFeatureComponents.tsx
  yarn.lock
Due: lint:ts:fix, prettier --write

DND-490 fixed storybook
  src/2_FSD_pages/ArticleDetailsPage/components/ArticleDetailsPage/storybook/ArticleDetailsPage.stories.tsx
  src/5_FSD_entities/User/lib/mocks/userData.mock.ts
Due: lint:ts:fix, prettier --write

Path conditions:
  lint:ts:fix: any of: **/*.{ts,tsx}
  lint:style:fix: any of: **/*{.css,.scss}
  prettier --write: any of: **/*{.ts,.tsx,.json,.html,.css,.scss}
